<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="department" class="com.collection.Department">
		<property name="name" value="administration"></property>
		<!-- int[] String[]-->
		<property name="empName">
			<list>
				<value>zhuwei</value>
				<value>mangqi</value>
				<value>aaaaaa</value>
			</list>
		</property>
		
		<!-- List(可以放入相同对象) Set（会覆盖相同对象） -->
		<property name="employees">
			<list>
				<ref bean="employee1"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
			</list>
		</property>
		<property name="empSet">
			<set>
				<ref bean="employee1"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
				<ref bean="employee2"/>
			</set>
		</property>
		
		<!-- Map, 如果key相同，后者会覆盖前者 -->
		<property name="empMap">
			<map>
				<entry key="1" value-ref="employee1"/>		
				<entry key="2" value-ref="employee2"/>		
			</map>
		</property>
		
	</bean>
	
	<bean id="employee1" class="com.collection.Employee">
		<property name="empName" >
			<value>aaa</value>
		</property>
		<property name="id">
			<value>1</value>
		</property>
	</bean>
	
	<bean id="employee2" class="com.collection.Employee">
		<property name="empName" >
			<value>bbb</value>
		</property>
		<property name="id">
			<value>2</value>
		</property>
	</bean>
				
</beans>